:root {
  --color-mastrer: #12794c;
  --second-color:  #063a24;
  --third-color: #c9f7e5;
  --fourth-color: #7bb69e;
  --big-color: #90e2c4;
  --active-color: #d9e897;
  --border-shadow: 0px 0px 20px -10px var(--color-mastrer)
}
.body {
  background: var(--third-color);
  height: 1vh;
  background: #000000 url(/src/assets/img/Wonderland.jpg) no-repeat;
  background-size: 80%;
  background-position-x: 100%;
  background-position-y: 0%;
}

.header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 30px;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 2px 2px 3px var(--second-color);
  color: var(--color-mastrer);
}
.keyboard-container {
  max-width: 1080px;
  height: 700px;
  margin: auto;
}
.input-text {
  display: inline-block;
  background-color: #00000000;
  color: var(--fourth-color);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  width: 94%;
  height: 200px;
  font-size: 1.5rem;
  margin: 30px 3%;
  border: 1px solid #2f2f2f;
  border-radius: 3px;
}

.keyboard {
  margin: 0px auto 30px auto;
  width: 80%;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  }

.language-switcher,
.key {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--color-mastrer);
  width: 45px;
  height: 45px;
  border: 1px solid #257954;
  border-radius: 5px;
  background: var(--third-color);
  margin: 4px;
  cursor: pointer;
  vertical-align: top;
  padding: 0;
  box-shadow: 2px 2px 1px 0px var(--fourth-color);
}

.language-switcher:active,
.key:active {
  transition: all 0.1s;
  box-shadow: 1px 1px 1px 0px var(--fourth-color);
  margin: 5px 3px 3px 5px; 
}

.key-active {
  background: var(--active-color);
  font-weight: 600;
  box-shadow: 1px 1px 1px 0px var(--active-color);
  border: 2px solid #257954;
}

.key-pressed {
  background-color: #bfbfbf;
}

.row {
  width: 74%;
  display: flex;
  justify-content: left;
  margin: 4px auto;
}

.language-switcher {
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  width: 90px;
  height: 30px;
}
.capslock {
  background-color: var(--big-color);
}
.on {
  background-color: var(--active-color);
}
